.cover__link {
  max-width: 1184px;
  width: 100%;
  /* height: auto; */
  /* background-image: url('/images/cover-trains.jpg'); */
  background-image: url('/images/cover-trains.jpg');
  background-size: cover;
  display: block;
  padding-top: 62.5%;
  /* height: calc(0.62 * 100vw); */
}  

.cover__link::before {
  display: block;
  content: '';
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: .4s linear;
  }
 

.cover__link:hover::before {
  opacity: 0.7;
  }
  
@media screen and (max-width: 320px) {
  .cover__link {
    max-width: 320px;
  }
}