.lead__title {
    max-width: 720px;
    margin: 0 auto;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF; 
}

@media screen and (max-width: 768px) {
    .lead__title {
        padding: 0 24px;
        font-size: calc(70px + 26 * (100vw / 1280));
        line-height: 1.04;
    } 
}

@media screen and (max-width: 630px) {
    .lead__title {
        padding: 0 16px;
        font-size: 40px;
        line-height: 1.04;
    } 
}

@media screen and (max-width: 335px) {
    .lead__title {
        padding: 0 16px;
        font-size: 40px;
        line-height: 1.04;
    }
}