.place {
    display: grid;
    padding-top: 80px;
    gap: 40px 48px;
    grid-template-columns: repeat(auto-fit, minmax(320px, auto));
}
    
.place:first-child {
    padding-top: 92px;
}
    
@media screen and (max-width: 1024px) {
    .place {
        grid-column-gap: 32px;
    }
}



@media screen and (max-width: 768px) {
    .place {
        grid-column-gap: 28px;
        padding: 73px 24px 0 24px;
    }
}

@media screen and (max-width: 479px) {
    .place {
        padding: 50px 0 0 0;
        gap: 32px;
    }

}

@media screen and (max-width: 352px) {
    .place {
        padding: 50px 0 0 0;
        gap: 32px;
    }
    .place:first-child {
    padding-top: 64px;
    }
}